<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Result</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .student-photo {
            float: right;
            width: 150px;
            height: 150px;
            margin-left: 20px;

        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light " style="background-color: #fff6e5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/homepage-logo.PNG" alt="AdmissionHub Logo" width="160">
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <li class="nav-item active"><a class="nav-link" href="#">Application</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#">Result</a></li>

                    <button class="btn custom-button" onclick="window.location.href='/logout'" type="button">
                        Logout
                    </button>
                </div>
                <div class="d-flex justify-content-center align-items-center order-md-2">
                    <a class="m-lg-0" href="https://mujib100.gov.bd/" target="_blank">
                        <img alt="Mujib Logo" height="60" src="../assets/mujib-logo.png" width="160">
                    </a>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h2>Exam Results</h2>
    <div>
        <h5 class=""><strong>Applicant Name:</strong> {{ applicant_name }}</h5>
        <p><strong>Applicant ID:</strong> {{ applicant_id }}</p>
    </div>
    <br>
    <br>
    <!--    <div>-->
    <!--        <img src="../assets/3cde2b38-5a30-4751-bfdd-35d6a0b96e74" alt="Student Photo"-->
    <!--             class="student-photo">-->
    <!--    </div>-->
    <table class="table table-striped table-bordered mt-4" style="background-color: white;">
        <thead>
        <tr>
            <th>Exam Name</th>
            <th>Result</th>
            <th>Position</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Dhaka University-Ka Group</td>
            <td>Pass</td>
            <td>2nd</td>
        </tr>
        <tr>
            <td>Jahangirnagar University-IT</td>
            <td>Fail</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>Rajshahi University-Ka Group</td>
            <td>Pass</td>
            <td>1st</td>
        </tr>
        <tr>
            <td>Chittagong University-Ka Group</td>
            <td>Fail</td>
            <td>N/A</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script crossorigin="anonymous"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>