<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdmissionHub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .btn-primary {
            background-color: #7476c9;

        }

        .floating-label {
            position: relative;
            margin-bottom: 1rem;
            font-size: 14px;
        }

        .floating-label label {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 14px;
            transition: all 0.2s ease-out;
            pointer-events: none;
            color: #6c757d;
        }

        .floating-label .form-control {
            border: none;
            border-bottom: 1px solid #6c757d;
            border-radius: 0;
            box-shadow: none;
            padding: 0;
            height: auto;
            font-size: 16px;
        }

        .floating-label .form-control:focus {
            border-color: #007bff;
            box-shadow: none;
        }

        .floating-label .form-control:focus ~ label {
            top: -1rem;
            left: 0;
            font-size: 12px;
            color: #007bff;
        }


    </style>
</head>

<body class="d-flex flex-column min-vh-100">
<!-- Navigation Bar -->
<div>
    <nav class="navbar navbar-expand-md navbar-light shadow-sm fs-5 fixed-top" style="background-color: #fff6e5;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/homepage-logo.PNG" alt="AdmissionHub Logo" width="160">
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">How to Apply</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Sign In As University</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron-fluid text-lg-center d-flex justify-content-center align-items-center image-fluid  " style="
    background-image: url('../assets/homepage-bg2.avif');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">

        <div class="container-xxl">
            <h1 class="display-4 text-white" style=" filter: "><b>AdmissionHub</b></h1>
            <p class="lead text-white"><b>One stop solution for university admissions.</b></p>
            <!-- Button trigger modal -->
            <button class="btn btn-primary" data-bs-target="#staticBackdrop" data-bs-toggle="modal" type="button">Apply
                Now
            </button>

            <!-- Application Modal -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                 aria-hidden="true" aria-labelledby="staticBackdropLabel" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document" style="z-index: 9999;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Admission Form</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <div class="floating-label">
                                            <input type="text" class="form-control" id="hscRoll" placeholder=" ">
                                            <label for="hscRoll">HSC Roll</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="floating-label">
                                            <input type="text" class="form-control" id="hscReg" placeholder=" ">
                                            <label for="hscReg">HSC Registration</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-floating">
                                        <select class="form-select" id="hscYear"
                                                aria-label="Floating label select example">
                                            <option value="" disabled selected>Select Year</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                        </select>
                                        <label for="hscYear">HSC Year</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-floating">
                                        <select class="form-select" id="hscBoard"
                                                aria-label="Floating label select example">
                                            <option value="" disabled selected>Select Board</option>
                                            <option value="Dhaka">Dhaka</option>
                                            <option value="Chittagong">Chittagong</option>
                                            <option value="Rajshahi">Rajshahi</option>
                                            <option value="Comilla">Comilla</option>
                                            <option value="Sylhet">Sylhet</option>
                                            <option value="Dinajpur">Dinajpur</option>
                                            <option value="Jessore">Jessore</option>
                                            <option value="Barisal">Barisal</option>
                                        </select>
                                        <label for="hscBoard">HSC Board</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home Page Content -->

    <!-- Footer -->
    <footer class="text-center py-3 mt-auto fixed-bottom" style="background-color: #fff6e5;">
        <p class="mb-0">Copyright © 2023 AdmissionHub. All rights reserved.</p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>