<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>AdmissionHub</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">

    <style>
        .navbar-brand:hover img {
            transform: translateX(-5px) translateY(-5px) translateX(5px) translateY(5px);
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
            border-radius: 5%;
        }

        .navbar-brand img {
            transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, border-radius 0.3s ease-out;
        }

        /*.btn-primary {*/
        /*    background-color: #7476c9;*/

        /*}*/

        .floating-label {
            position: relative;
            margin-bottom: 1rem;
            font-size: 14px;
        }

        .floating-label label {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 14px;
            transition: all 0.2s ease-out;
            pointer-events: none;
            color: #6c757d;
        }

        .floating-label .form-control {
            border: none;
            border-bottom: 1px solid #6c757d;
            border-radius: 0;
            box-shadow: none;
            padding: 0;
            height: auto;
            font-size: 16px;
        }

        .floating-label .form-control:focus {
            border-color: #007bff;
            box-shadow: none;
        }

        .floating-label .form-control:focus ~ label {
            top: -1rem;
            left: 0;
            font-size: 12px;
            color: #007bff;
        }

        .btn-green {
            background-color: #fff6e5;
            border-color: #fff6e5;
            color: #000000;
        }

        .dropdown-menu {
            width: 350px; /* or any other value you prefer */
        }

    </style>
    <script>
        // Function to handle form submission
        function handleSubmit(event) {
            event.preventDefault(); // prevent the form from submitting
            const email = document.getElementById('exampleDropdownFormEmail2').value;
            const password = document.getElementById('exampleDropdownFormPassword2').value;

            if (email.trim() === '' || password.trim() === '') {
                document.getElementById('alert-container').innerHTML = `
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Please fill up all the fields!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    `;
            } else {
                // submit the form
                document.getElementById('universityDropdownForm').submit();
            }
        }

    </script>
</head>

<body class="d-flex flex-column min-vh-100">
<!-- Navigation Bar -->
<div>
    <nav class="navbar navbar-expand-sm navbar-light shadow-sm fs-5 fixed-top" style="background-color: #fff6e5;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/homepage-logo.PNG" alt="AdmissionHub Logo" width="160">
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <li class="nav-item active"><a class="nav-link" href="#">How to Apply</a></li>

                        <div class="dropdown">
                            <a aria-expanded="false" class="btn btn-green dropdown-toggle fs-5 nav-item"
                               data-bs-auto-close="outside"
                               data-bs-toggle="dropdown" href="#" id="universityDropdown"
                               role="button">
                                Login
                            </a>
                            <form class="dropdown-menu p-4">
                                <div id="alert-container"></div>

                                <div class="mb-3">
                                    <label class="form-label" for="exampleDropdownFormEmail2">Email address</label>
                                    <input class="form-control" id="exampleDropdownFormEmail2"
                                           placeholder="Email address"
                                           type="email">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="exampleDropdownFormPassword2">Password</label>
                                    <input class="form-control" id="exampleDropdownFormPassword2" placeholder="Password"
                                           type="password">
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" id="dropdownCheck2" type="checkbox">
                                        <label class="form-check-label" for="dropdownCheck2">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary" onclick="handleSubmit(event)" type="button">Sign in
                                </button>
                                <a class="dropdown-item" href="#">Forgot password?</a>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center order-md-2">
                        <a class="m-lg-0" href="https://mujib100.gov.bd/" target="_blank">
                            <img alt="Mujib Logo" height="60" src="../assets/mujib-logo.png" width="160">
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron-fluid text-lg-center d-flex justify-content-center align-items-center image-fluid  " style="
    background-image: url('../assets/bg_3_1.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">

        <div class="container-xxl">
            <h1 class="display-4 text-light" style=" filter: "><b>AdmissionHub</b></h1>
            <p class="lead text-light"><b>One stop solution for university admissions.</b></p>
            <!-- Button trigger modal -->
            <button class="btn btn-lg btn-block btn-primary" data-bs-target="#staticBackdrop" data-bs-toggle="modal"
                    type="button">Apply
                Now
            </button>

            <!-- Application Modal -->
            <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-backdrop="static"
                 data-keyboard="false"
                 id="staticBackdrop" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered" role="document" style="z-index: 9999;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Admission Form</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-row">
                                    <div class="form-group ">
                                        <div class="floating-label">
                                            <input class="form-control" id="hscRoll" placeholder=" " type="text">
                                            <label for="hscRoll">HSC Roll</label>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="floating-label">
                                            <input class="form-control" id="hscReg" placeholder=" " type="text">
                                            <label for="hscReg">HSC Registration</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-floating">
                                        <select aria-label="Floating label select example" class="form-select"
                                                id="hscYear">
                                            <option disabled selected value="">Select Year</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                        </select>
                                        <label for="hscYear">HSC Year</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-floating">
                                        <select aria-label="Floating label select example" class="form-select"
                                                id="hscBoard">
                                            <option disabled selected value="">Select Board</option>
                                            <option value="Dhaka">Dhaka</option>
                                            <option value="Chittagong">Chittagong</option>
                                            <option value="Rajshahi">Rajshahi</option>
                                            <option value="Comilla">Comilla</option>
                                            <option value="Sylhet">Sylhet</option>
                                            <option value="Dinajpur">Dinajpur</option>
                                            <option value="Jessore">Jessore</option>
                                            <option value="Barisal">Barisal</option>
                                        </select>
                                        <label for="hscBoard">HSC Board</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" data-bs-dismiss="modal" type="button">Close</button>
                            <a href="Form.html">
                                <button class="btn btn-primary" type="button">
                                    Submit
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home Page Content -->

    <!-- Footer -->
    <footer class="text-center py-3 mt-auto fixed-bottom" style="background-color: #fff6e5;">
        <p class="mb-0">Copyright © 2023 AdmissionHub. All rights reserved.</p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script crossorigin="anonymous"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>